x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"
    tag: "{{.Name}}"

services:
  app1:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - SERVICE_NAME=app1
      - PORT=8080
      - API_SERVER_HOST=app2:8081
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otelcol:4317
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otelcol:4317
      - OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://otelcol:4317
      - OTEL_EXPORTER_OTLP_HEADERS=x-scope-org-id=1
      - OTEL_EXPORTER_OTLP_COMPRESSION=gzip
      - OTEL_EXPORTER_OTLP_TIMEOUT=5s
      - OTEL_EXPORTER_OTLP_INSECURE=true
    ports:
      - "8080:8080"
    develop:
      watch:
        - action: rebuild
          path: "**/*.go"

  app2:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - SERVICE_NAME=app2
      - PORT=8081
      - API_SERVER_HOST=app1:8080
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otelcol:4317
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otelcol:4317
      - OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://otelcol:4317
      - OTEL_EXPORTER_OTLP_HEADERS=x-scope-org-id=1
      - OTEL_EXPORTER_OTLP_COMPRESSION=gzip
      - OTEL_EXPORTER_OTLP_TIMEOUT=5s
      - OTEL_EXPORTER_OTLP_INSECURE=true
    ports:
      - "8081:8081"
    develop:
      watch:
        - action: rebuild
          path: "**/*.go"

  jaeger:
    image: jaegertracing/all-in-one:1.57
    container_name: jaeger
    command:
      - "--memory.max-traces=5000"
      - "--query.base-path=/jaeger/ui"
      - "--prometheus.server-url=http://prometheus:9090"
      - "--prometheus.query.normalize-calls=true"
      - "--prometheus.query.normalize-duration=true"
    deploy:
      resources:
        limits:
          memory: 400M
    restart: unless-stopped
    ports:
      - "16686:16686"
      - "4317"
    environment:
      - METRICS_STORAGE_TYPE=prometheus
    logging: *logging

  grafana:
    image: grafana/grafana:10.4.3
    container_name: grafana
    deploy:
      resources:
        limits:
          memory: 100M
    restart: unless-stopped
    environment:
      - "GF_INSTALL_PLUGINS=grafana-opensearch-datasource"
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    ports:
      - "3000"
    logging: *logging

  otelcol:
    image: otel/opentelemetry-collector-contrib:0.102.1
    container_name: otel-col
    deploy:
      resources:
        limits:
          memory: 200M
    restart: unless-stopped
    command:
      [
        "--config=/etc/otelcol-config.yml",
        "--config=/etc/otelcol-config-extras.yml",
      ]
    volumes:
      - ./otelcollector/otelcol-config.yml:/etc/otelcol-config.yml
      - ./otelcollector/otelcol-config-extras.yml:/etc/otelcol-config-extras.yml
    ports:
      - "4317"
      - "4318"
    depends_on:
      - jaeger
    logging: *logging

  prometheus:
    image: quay.io/prometheus/prometheus:v2.52.0
    container_name: prometheus
    command:
      - --web.console.templates=/etc/prometheus/consoles
      - --web.console.libraries=/etc/prometheus/console_libraries
      - --storage.tsdb.retention.time=1h
      - --config.file=/etc/prometheus/prometheus-config.yaml
      - --storage.tsdb.path=/prometheus
      - --web.enable-lifecycle
      - --web.route-prefix=/
      - --enable-feature=exemplar-storage
      - --enable-feature=otlp-write-receiver
    volumes:
      - ./prometheus/prometheus-config.yaml:/etc/prometheus/prometheus-config.yaml
    deploy:
      resources:
        limits:
          memory: 300M
    restart: unless-stopped
    ports:
      - "9090:9090"
    logging: *logging

  opensearch:
    image: opensearchproject/opensearch:2.14.0
    container_name: opensearch
    deploy:
      resources:
        limits:
          memory: 1G
    restart: unless-stopped
    environment:
      - cluster.name=demo-cluster
      - node.name=demo-node
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms300m -Xmx300m
      - DISABLE_INSTALL_DEMO_CONFIG=true
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "9200"
    logging: *logging
